<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quan ly san pham</title>
    <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">
    <script>
        function delpro(productId){
            fetch("/api/product/" + productId, {
                "method": "delete"
            }).then(res => res.json()).then(data => {
                if(data.status == 200){
                    var d = document.getElementById("product" + productId)
                    d.style.display = "None";
                }
            })
        }

        function addToCart(id, name, price) {
            fetch("/api/cart", {
                body: JSON.stringify({
                    "product_id": id,
                    "name": name,
                    "price": price
                }),
                method: "post",
                "headers": {"Content-Type": "application/json"}
            }).then(res => res.json()).then(data => {
                var cart = document.getElementById("cartId")
                cart.innerText = `(${data.quantity})`;
                console.info(data)
            })
        }
    </script>
</head>
<body>
    {{p}}
    <h1>Quan ly san pham</h1>
    <form action="{{url_for('product_list')}}">
        <div>
            <input type="text" placeholder="Nhap tu khoa" name="kw"/>
        </div>
        <div>
            <input type="number" placeholder="Nhap so bat dau" name="price_to"/>
            <input type="number" placeholder="Nhap so ket thuc" name="price_end"/>
        </div>
        <input type="submit"/>
    </form>
    <div><a href="{{ url_for('cart') }}">Gio hang</a>: <span id="cartId">(0)</span></div>
    <table border="1" width="100%">
        {% for product in products %}
        <tr id="product{{product.id}}">
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td>{{ "{:,.1f}".format(product.price) }} VND</td>
            <td><a href="{{ url_for('product_add', product_id = product.id) }}">Sua</a> | <a href="javascript:;" onclick="delpro({{product.id}})">Xoa</a> | <a href="javascript:;" onclick="addToCart({{product.id}}, '{{product.name}}', {{product.price}})"> Them vao gio </a></td>
        </tr>
        {% endfor %}
    </table>
    <div><a href="{{url_for('product_add', product_id = '') }}">Them</a></div>
    <div><a href="{{ url_for('product_export') }}">Xuat danh sach san pham</a></div>
</body>
</html>