<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Them san pham</title>
    <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">
</head>
<body>
    <h1>Them san pham</h1>
    <div>
        <h5>Ten san pham</h5>
        <input type="text" placeholder="Ten san pham">
    </div>
    <div>
        <h5></h5>
        <input type="text" placeholder="Ten san pham">
    </div>
    <div>
        <h5>Ten san pham</h5>
        <input type="text" placeholder="Ten san pham">
    </div>
    <div></div>
    <div></div>
</body>
</html>